name: Node.js CI

on:
  push:
    branches:
      - master
      - release-*
    tags:
      - v*
  pull_request:
    branches:
      - master
      - release-*

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NODE_VER: 16.14.0
    steps:
    - uses: actions/checkout@v2

    # Setup .npmrc file to publish to npm
    # https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ env.NODE_VER }}
        registry-url: 'https://registry.npmjs.org'
    
    - name: Build Package
      run: ./scripts/build.sh
    
    - name: Is Release?
      if: startswith(github.ref, 'refs/tags/v')
      run: echo "DEPLOY_PACKAGE=true" >> $GITHUB_ENV
      
    - name: Publish to npm
      if: env.DEPLOY_PACKAGE == 'true'
      run: npm run build && npm pack && npm publish build/ --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
